@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;900&family=Roboto&display=swap');

:root{
    --primary: #fec89a;
}

a:link, 
a:visited, 
a:hover, 
a:active{
    /* color: #111; */
    text-decoration: none;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}
nav, .hero h1, .btn{
    font-family: 'Poppins', sans-serif;
}
video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 95%;
    object-fit: cover;
    /* opacity: 0.8; */
}
section{
    height: 95vh;
}
.ups{
    height: 5vh;
    /* position: relative;
    bottom: 0; */
}
footer{
    position: fixed;
    bottom: -5vh;
    width: 100vw;
    background-color: #fff;
    text-align: center;
    padding: 1rem 0;
    margin-bottom: 5vh;
    z-index: 10;
}
footer a:visited{
    color: black;
}
/* NAVBAR */
/* NAVBAR */
/* NAVBAR */
.logo{
    color:#fff;
    transition: 0.5s;
}
.logo:hover{
    color: var(--primary);
    transition: 0.5s;
}
nav{
    display: flex;
    justify-content: space-between;
    min-height: 10vh;
    padding: 2rem;
    font-size: 1.2rem;
    position: relative;
    z-index: 10;
    transition: 0.5s;
}
.menu {
    cursor: pointer;
    position: relative;
    z-index: 30;
    color:#fff;
    transition: 0.5s;
}
.menu:hover{
    color:var(--primary);
    transition: 0.5s;
}
nav a {
    /* width: 40px;
    height: 40px; */
    color:#fff;
    line-height: 2.1rem !important;
}
/* NAVIGATION */
/* NAVIGATION */
/* NAVIGATION */
.navigation{
    display: none;
    position: absolute;
    right: 1rem;
    top: 1.2rem;
    z-index: 20;
    width: 30vw;
    height: 30vh;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 0.5rem;
    justify-content: center;
    align-items: center;
    
}
.navigation h1{
    color: #fff;
    transition: 0.5s;
}
.navigation h1:hover{
    color: var(--primary);
    transition: 0.5s;
}
.navigation.active{
    display: flex;
}
/* HERO */
/* HERO */
/* HERO */
.hero{
    display: flex;
    flex-direction: column;
    height: 85vh;
    width: 50vw;
    justify-content: center;
    padding-left: 2rem;
    opacity: 0.2;
    color:#fff;
    
    position: absolute;
    transform: translateX(-100%);
    left: 0;
}
.hero h1 {
    text-transform: uppercase;
    font-size: 5rem;
    line-height: 5rem;
    color: var(--primary)
}
.hero p {
    margin: 2rem 0;
    line-height: 1.8rem;
    font-size: 1.3rem;
}
.btn {
    width: 10rem;
    height: 3rem;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color:var(--primary) !important;
    font-size: 1.5rem;
    font-weight: bolder;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #fff;
    /* opacity: 0; */
    transition: 0.5s;
    /* position: relative; */
    /* z-index: 10; */
}
.btn:hover{
    transition: 0.5s;
    background-color: var(--primary);
    color:#fff !important;
}
#landing .btn{
    opacity: 0;
}

/* ABOUT */
/* ABOUT */
/* ABOUT */
#About.view{
    background-color: var(--primary);
}
.view{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 25vh;
}
.letter{
    position: relative;
    z-index: 10;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 1.5rem;
}
.circle{
    background-color: #fff;
    border-radius: 100%;
    width: 25rem;
    height: 25rem;

    position: absolute;
    align-items: center;
}
/* CONTACT */
#Contact.view{
        background-color: #fff;
}
.circle.alt.contact-circle{
    background-color: var(--primary);
    width: 30rem;
    height: 30rem;
    opacity: 0;
}
/* .circle.alt:hover{
    background-color: var(--primary);
    transition: 1s;
} */
#Contact p{
    margin-bottom: 1rem;
    color:#fff;
    font-weight: bold;
    position: relative;
}
#Contact .btn{
    display:inline;
    height: auto;
    width: auto;
    padding:0.5rem 1rem;
    background-color: #fff;
    color: var(--primary) !important;
}
/* SERVICE */
/* SERVICE */
/* SERVICE */
/* SERVICE */
.row{
    display: flex;
    height: 47.5vh;
}
.card{
    display: flex;
    align-items: center;
    width: 50vw;
    position: relative
}
.card .letter{
    font-size: 1.25rem;
    padding: 0 5rem;
    /* color:var(--primary); */
}
.card.alt{
    background-color: var(--primary);
    color: #fff;
}
.card img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
.hiddeForDesktop{
    display: none;
}


@media (max-width : 1080px) {
    .hero{
        width: 70vw;
    }
    .view{
        padding: 0 6vw;
    }
    .view .letter{
        font-size: 1.3rem;
    }

}

@media (max-width: 700px) {
    .hero{
        width: 100vw;
        padding-right: 2rem;
    }
    .hero h1{
        font-size: 2.5rem;
        line-height: 2.5rem;
    }
    .navigation{
        width: calc(95% - 1rem);
        background-color: #bdcfd4;
    }
    /* ABOUT */
    .view .letter{
        font-size: 1.2rem;
    }
    .circle{
        width: 30rem;
        height: 30rem;
    }
    /* SERVICE */
    #Service{
        width: 100vh;
    }
    
    .row.top{
        display: inline-block;
    }
    .row{
        height: 50vh;
        display: initial;
    }
    .card{
        width: 100vw;
        height: 25vh;
    }
    .card .letter{
        height: auto;
        font-size: 1rem;
        padding: 0 3vw;
    }
    .hiddeForDesktop{
        display: flex;
    }
    .ups, .hiddeForPhone{
        display: none;
    }
    /* CONTACT */
    
.circle.alt.contact-circle{
    background-color: var(--primary);
    width: 25rem;
    height: 25rem;
    opacity: 0;
    }
}